minecraft_jar=C:/path/to/minecraft/Install/versions/26.2/26.2.jar
fabric_loader_jar=C:/path/to/minecraft/Install/libraries/net/fabricmc/fabric-loader/0.19.3/fabric-loader-0.19.3.jar
fabric_api_jar=C:/path/to/minecraft/Instances/Your Fabric Instance/mods/fabric-api-0.154.0+26.2.jar
modmenu_jar=C:/path/to/minecraft/Instances/Your Fabric Instance/mods/modmenu-20.0.0-beta.4.jar
cloth_config_jar=C:/path/to/minecraft/Instances/Your Fabric Instance/mods/cloth-config-26.2.155.jar
fabric_api_modules_dir=C:/path/to/extracted/fabric-api-modules
minecraft_libraries_dir=C:/path/to/minecraft/Install/libraries
